<div class="bottom-navbar">
    <%= link_to "/", class:'navbar-button active' do %>
      <%= icon("fas", "home") %>
    <% end %>
    <%= link_to places_path, class:'navbar-button' do %>
      <%= icon("fas", "search") %>
    <% end %>
    <%= link_to "#", class:'navbar-button' do %>
      <%= icon("fas", "map-marker-alt") %>
    <% end %>
    <%= link_to "#", class:'navbar-button' do %>
      <%= icon("fas", "headphones-alt") %>
    <% end %>
</div>
