<%
    image = !place.photos.first ? image_path("logo_with_arrow.svg") : cl_image_path(place.photos.first.key)
    last = local_assigns.fetch(:last, "")
%>

<%= link_to place_path(place) do  %>
  <div class="likes-card <%= last.to_s %>">
    <%= image_tag image, :width=>80, :height=>80, :crop=>"crop", alt: "place_photo" %>
    <div class="likes-card-infos d-flex flex-column">
      <div class="likes-card-details">
        <div class="place-details d-flex justify-content-between">
          <h2 style=""><%= place.name %></h2>
        </div>
        <p><%= place.address %></p>
      </div>
      <div class="place-infos mt-auto d-flex justify-content-end">
        <div class="place-rating"><%= icon("fas", "star") %> <%= place.avg_rating %></div>
      </div>
    </div>
  </div>
<% end %>
