<div class="search-card">
  <%= image_tag "https://blog.equiphotel.com/wp-content/uploads/2018/11/alcohol-bar-beer-min-1080x675.jpg", alt: "place_photo" %>
  <div class="search-card-infos">
    <div class="place-type"><%= icon("fas", "cocktail") %></div>
    <div class="place-details d-flex justify-content-between">
      <h2>Place's name</h2>
      <div class="place-distance"><i class="fas fa-map-marker-alt"></i> 300 m</div>
    </div>
    <p>Address</p>
    <div class="place-infos d-flex justify-content-between align-items-center">
      <div class="place-rating"><%= icon("fas", "star") %><%= icon("fas", "star") %><%= icon("fas", "star") %><%= icon("fas", "star") %><%= icon("fas", "star-half-alt") %></div>
      <div class="place-tags d-flex flex-end">
        <div class="place-tag short-tag">
          Tag
        </div>
        <div class="place-tag longer-tag">
          Longer Tag
        </div>
      </div>
    </div>
  </div>
</div>
