<%
    image = !place.photos.first ? image_path("logo_with_arrow.svg") : cl_image_path(place.photos.first.key)
    last = local_assigns.fetch(:last, "")
%>

<%= link_to place_path(place) do  %>
  <div class="search-card <%= last.to_s %>">
    <%= image_tag image, :width=>100, :height=>100, :crop=>"crop", alt: "place_photo" %>
    <div class="search-card-infos d-flex flex-column">
      <div class="search-card-details">
        <div class="place-details d-flex justify-content-between">
          <h2><%= place.name %></h2>
          <% if @query.present? && place.distance.round < 1_000 %>
            <% place_distance = "#{place.distance.round} m" %>
          <% elsif @query.present? %>
            <% place_distance = "#{(place.distance.to_f / 1_000).round(1)} km" %>
          <% else %>
            <% place_distance = "" %>
          <% end %>
          <div class="place-distance"><%= place_distance %></div>
        </div>
        <p><%= place.address %></p>
      </div>
      <div class="place-infos mt-auto d-flex justify-content-between">
        <div class="place-rating"><%= icon("fas", "star") %> <%= place.avg_rating %></div>
        <div class="place-tags d-flex flex-end">
          <% place.genres.sort.each do |genre| %>
            <%= render 'components/tag',
              background_color: "#{genre.color_hex}",
              text: "#{genre.name.capitalize}",
              class: "search-place-tag" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
