<div class="likes-index">
  <%= render 'components/back_arrow' %>
  <div class="tabs-search">
    <nav>
      <div class="nav nav-pills" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-likes-tab" data-toggle="tab" href="#nav-likes" role="tab" aria-controls="nav-likes" aria-selected="true">Liked places</a>
        <a class="nav-item nav-link" id="nav-tastes-tab" data-toggle="tab" href="#nav-tastes" role="tab" aria-controls="nav-tastes" aria-selected="false">Liked genres</a>
      </div>
    </nav>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-likes" role="tabpanel" aria-labelledby="nav-likes-tab">
      <div class="likes-container d-flex">
        <label for="tab-1" class="check-with-label"><i class="fas fa-tag"></i><h4>Tags</h4></label>
          <input id="tab-1" name="tabs-two" type="checkbox">
          <div class="tags-filter">
            <div class="all-tags d-flex justify-content-between">
              <%= link_to "All places", dashboard_likes_path %>
              <strong><%= current_user.likes.count %></strong>
            </div>
            <ul>
            <% @genres.each do |genre_name, element|  %>
              <%= link_to dashboard_likes_path(tag: element.first.name), remote: true do %>
                <li class="" style="color: <%= element.first.color_hex %>"><%= element.first.name.capitalize %> <strong><%= element.last %></strong></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="places-likes">
          <%= render "places", likes: @likes %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-tastes" role="tabpanel" aria-labelledby="nav-tastes-tab">
      <div class="tastes-dashboard" data-controller="tastes">
        <form action="<%= user_genres_create_path %>"
              data-target="tastes.addForm"
              id="add_user_genre"
              data-remote="true"
              >
              <input type="hidden" name="genre_id" value="genre">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
        <form action="<%= user_genres_destroy_path %>"
              data-target="tastes.removeForm"
              id="remove_user_genre"
              data-remote="true"
              >
              <input type="hidden" name="genre_id" value="genre">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
        <%= render 'components/tastes' %>
        <div class="saved-flash">
          <div class="flash">
            <i class="fas fa-check"></i>
            <p>Saved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


