<% if current_user %>
  <%= render 'components/avatar' %>
  <div class="home-grid">

    <section class="home-header">
      <div class="title">
        <div>Where do you want to </div>
        <%= image_tag("logo.svg") %> <span>GetOut</span> tonight?
      </div>
      <%= render "components/background_logo" %>
    </section>

    <section class="search">
      <div><%= render "components/search_bar" %></div>
    </section>


    <section class="selection">
      <div class="cat-title">Selection of bars for me</div>
      <ul>
        <%= render "components/horizontal_scroll" do %>
          <% @places.each do |place| %>
            <li>
              <%= link_to place do %>
                <%= render "components/place_card", item: place, type: :square %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>


    <section class="events">
      <div class="cat-title">Where to listen to</div>
      <ul>
        <%= render "components/horizontal_scroll" do %>
          <% @artists.each do |artist| %>
            <li>
              <%= render "components/place_card", item: artist, type: :circle %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>


    <section class="events">
      <div class="cat-title">Around me</div>
      <ul>
        <%= render "components/horizontal_scroll" do %>
          <% @places_nearby.each do |place| %>
            <li>
              <%= link_to place do %>
                <%= render "components/place_card", item: place, type: :small_square %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </div>
<% else %>
  <%= render 'devise/sessions/new' %>
<% end %>
