<% if current_user %>
  <%= render 'components/avatar' %>
  <div class="home-grid">

    <section class="home-header">
      <div class="title">
        <div>Where do you want to </div>
        <%= image_tag("logo.svg") %> <span>GetOut</span> tonight?
      </div>
      <%= render "components/background_logo" %>
    </section>

    <section class="search">
      <div><%= render "components/search_bar" %></div>
    </section>


    <section class="selection">
      <div class="cat-title">Selection of bars for me</div>
      <%= render "components/horizontal_scroll" do %>
          <% @places.each do |place| %>
            <li><%= render "components/place_card", place: place %></li>
          <% end %>
      <% end %>
    </section>


    <section class="artists">
      <div class="cat-title">Go and listen to these artists</div>
        <%= render "components/horizontal_scroll" do %>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>Machin</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
          <li>truc</li>
        <% end %>
    </section>


    <section class="events">
      <div class="cat-title">Around me</div>
      <%= render "components/horizontal_scroll" do %>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>Machin</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
        <li>truc</li>
      <% end %>
    </section>
  </div>
<% else %>
  <%= render 'devise/sessions/new' %>
<% end %>
