<% if current_user %>
  <%= render 'components/avatar' %>
  <div class="home-grid">

    <section class="home-header">
      <div class="title">
        <div>Where do you want to </div>
        <%= image_tag("logo.svg") %> <span>GetOut</span> tonight?
      </div>
      <%= render "components/background_logo" %>
    </section>

    <section class="search">
      <div><%= render "components/search_bar" %></div>
    </section>


    <section class="selection">
      <div class="cat-title">Selection of bars for me</div>
      <%= render "components/horizontal_scroll" do %>
        <% @places.each do |place| %>
          <li>
            <%= link_to place do %>
              <%= render "components/place_card", place: place, type: :square %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </section>


    <section class="artists">
      <div class="cat-title">Where to listen to them</div>
      <%= render "components/horizontal_scroll" do %>
        <% @places.each do |place| %>
          <li>
            <%= link_to place do %>
              <%= render "components/place_card", place: place, type: :circle %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </section>


    <section class="events">
      <div class="cat-title">Around me</div>
      <%= render "components/horizontal_scroll" do %>
        <% @places.each do |place| %>
          <li>
            <%= link_to place do %>
              <%= render "components/place_card", place: place, type: :small_square %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </section>
  </div>
<% else %>
  <%= render 'devise/sessions/new' %>
<% end %>
