<div class="tastes">
  <div class="tastes-content">
    <div class="scrollable">
      <div class="logo">
        <%= image_tag "logo_with_arrow" %>
      </div>
      <div class="headers">
        <div class="headers-content">
          <h3 id="tastes-header-1">What do you</h3>
          <h3 id="tastes-header-2">listen to</h3>
        </div>
        <div class="question-mark">
          <h3>?</h3>
        </div>
      </div>
      <div class="tags">
        <% @genres.each do |genre| %>
          <div class="tag" data-chosen= "<%= genre.user_id.present? %>" data-color="<%= genre.color_hex %>" style="border: 1px solid #ef798a; color: #ef798a; box-shadow: 0 0px 4px 0px #ef798a;"><%= genre.name.capitalize %></div>
        <% end %>
      </div>
    </div>
    <div class="sticky-button">
      <%= render 'components/button_link', text: "Next" %>
      <div class="skip-link">
        <%= link_to "Skip", root_path %>
      </div>
    </div>
  </div>
</div>
