<div class="taste-selection" data-controller="animation">
  <%= render "loading" %>
  <div class="tastes"
       data-controller="tastes"
       data-target="animation.tastes"
       >
       <form action="<%= user_genres_create_path %>"
             data-target="tastes.addForm"
             id="add_user_genre"
             data-remote="true"
             >
             <input type="hidden" name="genre_id" value="genre">
             <input type="hidden" name="user_id" value="<%= current_user.id %>">
             <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       </form>
       <form action="<%= user_genres_destroy_path %>"
             data-target="tastes.removeForm"
             id="remove_user_genre"
             data-remote="true"
             >
             <input type="hidden" name="genre_id" value="genre">
             <input type="hidden" name="user_id" value="<%= current_user.id %>">
             <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       </form>

       <div class="tastes-content" data-target="animation.tastesContent">
         <div class="scrollable">
           <div class="logo">
             <%= image_tag "logo_with_arrow.svg", height: "120"; %>
           </div>
           <%= render 'components/tastes' %>
         </div>
         <div class="sticky-button">
           <%= render 'components/button_link', text: "Next", link: root_path %>
           <div class="skip-link">
             <%= link_to "Skip", root_path %>
           </div>
         </div>
       </div>
  </div>
</div>
