<div class="tastes">
  <div class="tastes-content">
    <div class="scrollable">
      <div class="logo">
        <%= image_tag "logo_with_arrow" %>
      </div>
      <div class="headers">
        <div class="headers-content">
          <h3 id="tastes-header-1">What do you</h3>
          <h3 id="tastes-header-2">listen to</h3>
        </div>
        <div class="question-mark">
          <h3>?</h3>
        </div>
      </div>
      <div class="tags">
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Techno</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Jazz</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Classical</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">R&B</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Afro</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Latin</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">House</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Hip-Hop</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Soul</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">He</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Blues</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Electronica</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Techno</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Jazz</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Classical</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">R&B</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Afro</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Latin</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">House</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Hip-Hop</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Soul</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">He</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Blues</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Electronica</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Techno</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Jazz</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Classical</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">R&B</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Afro</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Latin</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">House</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Hip-Hop</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Soul</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">He</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Blues</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Electronica</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Techno</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Jazz</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Classical</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">R&B</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Afro</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Latin</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">House</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Hip-Hop</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Soul</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">He</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Blues</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Electronica</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Techno</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Jazz</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Classical</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">R&B</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Afro</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Latin</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">House</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Hip-Hop</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Soul</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">He</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Blues</div>
        <div class="tag" data-chosen= "false" style="border: 1px solid #<%= @color %>; color: #<%= @color %>; box-shadow: 0 0px 4px 0px #<%= @color %>;">Electronica</div>
      </div>
    </div>
    <div class="sticky-button">
      <%= render 'components/button_link', text: "Next" %>
      <div class="skip-link">
        <%= link_to "Skip", root_path %>
      </div>
    </div>
  </div>
</div>
