<%= render 'components/back_arrow', link: root_path %>
<div class="index-container">
  <div class="top-search">
    <div class="index-search">
      Search bar ?
    </div>
  </div>
  <div class="precised-search mb-3">
    <div class="title-section">
      <h4>Bars that played this artist this week</h4>
    </div>
    <div class="places">
      <%= render "components/search-card", place: @places.sample %>
      <%= render "components/search-card", place: @places.sample %>
    </div>
  </div>

  <div class="large-search mb-3">
    <div class="title-section">
      <h4>Bars by same music style</h4>
    </div>
    <div class="places">
      <%= render "components/search-card", place: @places.sample %>
      <%= render "components/search-card", place: @places.sample %>
    </div>
  </div>

  <div class="concerts mb-3">
    <div class="title-section">
      <h4>Concerts & Show</h4>
    </div>
    <div class="places">
      <%= render "components/search-card", place: @places.sample %>
      <%= render "components/search-card", place: @places.sample %>
    </div>
  </div>
</div>


