<div class="show-container">
<%= render 'components/back_arrow', link: places_path %>
  <div class="carousel-photos">
    <% @place.photos.each do |photo| %>
      <div class="place-photo">
        <%= cl_image_tag photo.key, alt: "photos" %>
      </div>
    <% end %>
  </div>
  <div class="place-details">
    <div class="general-infos">
      <div class="place-name"><h2><%= @place.name %></h2></div>
      <div class="place-like">
        <%= render 'components/tag', background_color:"#49af91", text: "Open", class: "pop-tag selected place-tag-open" %>
      <% if @like %>
        <%= link_to like_path(@like), method:'delete', remote: true do  %>
          <%= icon("fas", "heart") %>
        <% end %>
      <% else %>
        <%= link_to likes_path(place_id: @place.id), method:'post', remote: true do %>
          <%= icon("far", "heart") %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="place-rating">
      <% if @place.avg_rating %>
        <% @place.avg_rating.floor.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% if @place.avg_rating % 1 > 0 %>
          <% if @place.avg_rating % 1 < 0.25 %>
            <i class="fas fa-star"></i>
          <% elsif @place.avg_rating % 1 > 0.75 %>
            <i class="far fa-star"></i>
          <% else %>
            <i class="fas fa-star-half-alt"></i>
          <% end %>
        <% end %>
        <% (5 - @place.avg_rating.ceil).times do %>
          <i class="far fa-star"></i>
        <% end %>
      <% else %>
        <p>Pas encore d'évaluation</p>
      <% end %>
    </div>



    <div class="place-distance">
      <div class="place-address-distance">
        <p><%= @place.address %></p>
        <p>342 m </p>
      </div>

      <div class="link-map">
        <%= link_to "https://maps.google.com/?q=#{@place.address}", class:"text-decoration-none link-map" do  %>
          <%= icon("fas", "map-marked-alt") %>
        <% end %>
      </div>
    </div>

    <div class="place-tags ">
      <% @place.genres.sort.each do |genre| %>
        <%= render 'components/tag',background_color:"#{genre.color_hex}", text: "#{genre.name.capitalize}" %>
      <% end %>
    </div>

    <div class="place-on-air-bar">
      <h3>On Air previously</h3>
      <div class="place-on-air">
        <div class="place-music">
          <div class="before-music">
            <%= image_tag "https://static.actu.fr/uploads/2018/10/25061-181029164228186-0-854x942.jpg", class:"playing-img" %>
            <p>La Compagnie Cré..</p>
            <p>Ca fait rire les ois..</p>
          </div>
          <div class="now-music">
            <%= image_tag "soulwax.jpg", class:"playing-img" %>
            <p>Soulwax</p>
            <p>Close to paradise</p>
          </div>
          <div class="next-music">
            <%= image_tag "https://img.discogs.com/TBN_nuyviiYIj8Uj5vUQu4M2pSM=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-10321142-1495286691-4531.jpeg.jpg", class:"playing-img" %>
            <p>Jacques</p>
            <p>Tout est magnifique</p>
          </div>
        </div>
      </div>
    </div>
    <div class="place-top-tracks">
      <h4>Top tracks you like played here recently</h4>

      <div class="row align-items-center">
        <div class="col-1">
          1
        </div>
        <div class="place-top-tracks-infos col-7">
          <p class="place-top-tracks-title">Mount Kimbie</p>
          <p class="place-top-tracks-group">Made to stray</p>
        </div>
        <div class="col">
          <p>2 hours ago</p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-1">
          2
        </div>
        <div class="place-top-tracks-infos col-7">
          <p class="place-top-tracks-title">Desesparates</p>
          <p class="place-top-tracks-group">2BOYS 1CLUB</p>
        </div>
        <div class="col">
          <p>4 hours ago</p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-1">
          3
        </div>
        <div class="place-top-tracks-infos col-7">
          <p class="place-top-tracks-title">Marie Davidson</p>
          <p class="place-top-tracks-group">Work it</p>
        </div>
        <div class="col">
          <p>7 hours ago</p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-1">
          4
        </div>
        <div class="place-top-tracks-infos col-7">
          <p class="place-top-tracks-title">La Femme</p>
          <p class="place-top-tracks-group">S.S.D</p>
        </div>
        <div class="col">
          <p>yesterday</p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-1">
          5
        </div>
        <div class="place-top-tracks-infos col-7">
          <p class="place-top-tracks-title">Sash!</p>
          <p class="place-top-tracks-group">Encore une fois</p>
        </div>
        <div class="col">
          <p>2 days ago</p>
        </div>
      </div>

    </div>

    <div class="place-pin-me place-like">
      <div>
        <h4>Let my friends know I’m here tonight</h4>
      </div>
      <div class="place-pin">
        <%= icon("fas", "map-marker-alt") %>
      </div>
    </div>

    <div class="place-opening-info">
      <h4>Opening infos</h4>
      <ul class="list-inline text-center">
        <li class="list-inline-item">Mon</li>
        <li class="list-inline-item">Tue</li>
        <li class="list-inline-item">Wed</li>
        <li class="list-inline-item">Thu</li>
        <li class="list-inline-item">Fri</li>
        <li class="list-inline-item">Sat</li>
        <li class="list-inline-item">Sun</li>
      </ul>
    </div>
  </div>
</div>
