<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="grid-content">
      <div class="header">
        <%= render 'shared/flashes' %>
        <%= render 'shared/avatar' if current_user %>
      </div>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <%= render 'shared/bottom_navbar' %>
      </div>
    </div>
  </body>
</html>
